@charset "UTF-8";
/**
 * 
 * @authors Yanan Lee (you@example.org)
 * @date    2014-04-17 22:41:45
 */
 /*head-image begin*/

 /*head-image end*/
 /*logo begin*/
 /*
.header{position:relative; margin:0 auto 10px; width:950px; height:113px;}
.header .logo{;position:absolute; top:0; left:0}
.header .logo a{display:block; width:360px; height:77px; background:url("images/seller-logo.png") no-repeat;}
.header .toplist{position:absolute; right:0; padding:4px 4px; color:#666; height:20px;  }
.header .toplist .seller-help-center{display:inline-block; position:relative; padding-right:2px;}
.header .toplist a.seller-help-button{display:inline-block; z-index:100; position:relative;margin:0; padding:0 12px 0 6px; border:1px solid #fff; border-bottom:none; background:#fff url("images/help-arrow.png") no-repeat 34px 8px ;}
.header .toplist a.hover-state{text-decoration:none; border:1px solid #a8a8a8; border-bottom:none;}
.header .toplist a{line-height:20px; margin:0 5px; text-decoration:none; color:#2C2C2C;}
.header .toplist a:hover{text-decoration:none; color:#ff9400;}
.header .toplist .seller-help-list{z-index:5; position:absolute; top:20px; left:0; padding:5px 0; width:62px; border:1px solid #a8a8a8; background:#fff;}
.header .toplist .seller-help-list a{display:block; margin:0; padding-left:7px;}
.header .toplist .seller-help-list a:hover{color:#900;}
.toplist img{margin-bottom:-5px;}
.toplist p,.toplist img{padding-top:9px;}
.top_line{position:absolute; top:58px; right:0; width: 300px; color:#666; }
.top-img img{margin-top:-5px;}
.clearfix:after{clear:both; content:"."; display:block; height:0; visibility:hidden;}
.weibo{float:left; margin-right:20px; background:#fff url("images/weibo.jpg")no-repeat 104px 1px; width: 177px; }
.weixin{position:absolute; top:0; right:10px; padding-right:37px; background:#fff url("images/weixin.png") no-repeat 86px 2px ;}
  /*logo end*/
  /*nav begin*/
  /*
 .nav{position:absolute; top:130px;left: 310px; border-radius:4px; width:950px; height:33px; background:-moz-linear-gradient(top,#ff9a00,#ff7b00);-webkit-linear-gradient(top,#ff9a00,#ff7b00);-o-linear-gradient(top,#ff9a00,#ff7b00);}
 .nav {margin-left:8px;}
 .nav  li,.nav  li a{color:#fff; cursor:pointer; float:left; font:14px/34px Arial; height:32px; overflow:hidden;text-decoration: none;line-height: 32px;}
  .nav li.focus a {background:url("images/huadongmen.png") no-repeat scroll 0 -66px rgba(0, 0, 0, 0);float: left;height: 36px;padding-left: 19px;position: absolute;z-index: 100;top: -3px;}
 .nav li.focus a span{color: #2c2c2c;font-weight: 900;float: left;height: 36px;}
 .nav  li{position:relative; border:1px solid #e47714; border-bottom:none;border-right: none; margin-left: 10px;}
 .nav  li a{padding-left:20px;}
 .nav  li a span{padding-right:11px;}

*/

.head-img{ marhin:auto; background: url("images/head-img.jpg"); width: 950px; height: 50px; margin: 0 auto;}
/*head start*/
.head{position:relative; margin:15px auto 0px auto; height:58px; padding-top:8px; width:950px;}
.head .logo{display:block; width:344px; height:38px; background:url(images/head-tubiao.png) no-repeat 5px 0;}
.head ul.head-list{position:absolute; top:0; right:0px;}
.head ul.head-list li{float:left; height:13px; line-height:12px; text-align:center; background:url(images/head-tubiao.png) no-repeat 0 -156px;}
.head-list{position: relative;}
.head ul.head-list li.none{background:none;}
.head ul.head-list li.none a{color:#000;}
.head ul.head-list li a{margin:0 6px; color:#666;}

.head-english{font-family:Arial;}

.head ul.head-list li a.phone{display:block; padding-left:14px; background:url(images/head-tubiao.png) no-repeat 0 -135px;}
.head-weibo{position:relative; float:right; margin-right:3px; color:#666;}
.head-distance{padding-right:56px;}
.head-distance1{padding-right:27px;}
.head-weibo span a.sina,.head-weibo span a.tencent,.head-weibo span a.weixin{width:18px; height:16px; background:url(images/head-tubiao.png) no-repeat;}
.head-weibo span a.sina{position:absolute; top:0; right:149px; z-index:-2; background-position:0 -46px;}
.head-weibo span a.tencent{position:absolute; top:0; right:126px; z-index:-2; background-position:0 -71px;}
.head-weibo span a.weixin{position:absolute; top:0; right:6px; background-position:0 -96px;}
/*head end*/

/*nav start*/
.nav{position:relative; margin:2px auto; padding-left:10px; height:33px; width:940px; background:url(images/nav.png) repeat-x 0 -66px;border-radius: 5px;}
.nav ul li{float:left; padding:0 21px; line-height:33px; background:url(images/nav.png) no-repeat 0 -99px;}
.nav ul li a{font-size:14px; color:#FFF;}
.nav ul li a:hover{text-decoration:none;}
.nav ul li.n-this{position:relative; padding:0; width:68px; height:33px; line-height:38px; background:none;}
.nav ul li.n-this a{position:absolute; top:-3px; float:left; padding-left:19px; height:36px; background:url(images/huadongmen.png) no-repeat 0 -66px;}
.nav ul li.n-this a span{display:block; _display:inline-block; padding-right:19px; height:36px; font-weight:600; color:#000; background:url(images/huadongmen.png) no-repeat right -66px;}


/*.seller-help-list li a {float: left;}*/
.seller-help-center{display:inline-block; position:relative; border-bottom: #fff;z-index: 2222;}
.seller-help-list{position: absolute;border:1px solid #a8a8a8; left: 6px; top: 13px; width: 62px;z-index: 5;height: 53px; background: #fff ;}
.seller-help-list li {margin-top: 10px;margin-left: -2px;}
.head-list a.seller-help-button{display:inline-block; z-index:1000; position:relative;margin:0; padding:0 12px 0 6px; border:1px solid #fff; border-bottom:none; background:#fff url("images/help-arrow.png") no-repeat 34px 5px ;}
.head-list a.hover-state{text-decoration:none; border:1px solid #a8a8a8; border-bottom:none;}
/*nav end*/










  /*nav end*/
 .main{width:950px; margin:0 auto;margin-top: 10px;}
  /*left-parts begin*/
.ll{display:inline; float:left; width:672px;} 
.s-services{float:left; border:1px solid #efd98a; background-position:-280px 20px; width:188px;height:216px;}
/*.s-services h3{color:#a14d00; line-height:31px; padding-left:9px; height:31px; background:url('images/bg.png') repeat -265px 0px;}*/

.s-services .new{position: relative;}
.s-services .new .new-icon{position: absolute;left: 48px;}
.s-services h3{padding-left:9px;height:31px;line-height:30px;color:#A14D00;background:url(images/bg.png) -265px 0;}
.s-services ul{overflow:hidden;height:186px;border:solid 1px #EFD98A;border-top:none;}
.s-services ul li{background:url(images/bg.png) -275px -36px;float:left;clear:both;margin:5px 0;padding-left:10px;}
.s-services ul li:hover{background:url(images/bg.png) -275px -92px no-repeat;}

.s-services ul li a,.s-services ul li a.a1,.s-services ul li a.a2{background:url(images/bg.png) -472px -23px no-repeat;}
.s-services ul li a.a1{background-position:-472px -84px;}
.s-services ul li a.a2{background-position:-472px -145px;}
.s-services ul li a{display:block;padding:7px 0 0 57px;width:113px;height:44px;color:#444;text-decoration:none;}
.s-services ul li a:hover {text-decoration:none;}
.s-services ul li a b{display:block;font-weight:normal;color:#B11221;}




























.left-section{width:673px; height:155px; margin-top:8px;}
.left-order{width:390px; height:150px; float:left; border:1px solid #fcba79;}
.left ul{height:186px;}
.left ul li img{margin-bottom:-4px;}
.left ul li{margin-top:4px; padding-left:-6px; height:56px; background:url('images/bg.png') no-repeat -275px -35px;}
.left ul li a{display:block; width:50px; height:50px; color:#444; text-decoration:none;margin-top:-45px;}
.left ul li.a1{background:url('images/bg.png') no-repeat -455px -21px;}
.left ul li.a2{background:url('images/bg.png') no-repeat -463px -23px;}
.left ul li.a3{background:url('images/bg.png') no-repeat -472px -87px;margin: -40px 0 0 9px;}
.left ul li p{padding:7px 0 0 67px;}
.left-tit{margin-top:-1px;border:1px solid #fcba79;width:670px; height:180px; }
.left-tit1{display:block;padding-left:8px;padding-top:20px;}
.left-tit1 dl{padding-left:9px;color:#80340a;float:left;}
.left-tit1 dl dt{background:#fff url("images/h-bg3.png") no-repeat -3px 3px ;font-family:Arial;line-height:12px;margin-bottom:10px;padding-left:16px;}
.left-tit1 dl dt b{background: #fff none repeat scroll 0 0;font-weight: normal;padding:0 3px;}
.left-tit1 dl dt dd img{margin-top:3px;}
.left-tit1 dl dd{background: url("images/node.jpg")  no-repeat 6px 3px;line-height:24px;padding-left:29px;width:120px;height:24px;}
.sp{color:#b11221;margin: 5px 0 -6px;}
.box{padding:18px 16px 0;height:138px;border:1px solid #dcdcdc;border-top:none;width: 358px;}
.box dl{float:right; width:224px;}
.box dl dt,.box-content dl dt{font-size:15px; font-weight:700; float: left;color: #444;}
.box dl dt dd p{color:#999;}
.box a{border:1px solid #999;} 
.box a.img{border:1px solid #fff;}
.box-content{height:140px;border:1px solid #fcba79; border-top:none;}
.box-content img.pic2{float:left;margin-right:11px;padding-top:5px;margin-top:-2px;padding-left:6px;}
.box-content dl{float:left;margin-top:14px;width:200px;}
.box-content ul{float:right;width:189px;margin-top:10px;margin-right:78px;}
.box-content ul li{background:#fff url("images/node.jpg") no-repeat 10px 4px ;height:23px;line-height:23px;padding:0 3px 0 30px;}
.fbox,.fbox-1{padding-top:15px;height:130px;border:1px solid #dcdcdc;}
.fbox-1 ul{padding-left:10px;}
.fbox-1 ul li{background:#fff url("images/node.jpg") no-repeat 10px 4px ;height:23px;line-height:23px;padding:0 3px 0 30px;}
.fbox ul li{background:#fff url("images/node.jpg") no-repeat 10px 4px ;float:left;width:160px;height:23px;line-height:23px;padding:0px 3px 0 30px;}
.inner-product{position:relative; width:249px; height:105px; padding-bottom:5px;}
.inner-product ul li{float:left; width:83px; height:100px; text-align:50%;}
.inner-product ul li img{border:1px solid #e7e7e7;margin-left: 8px;}
.inner-product ul li p{font-size:11px;height: 24px;line-height: 24px;margin-top: -3px;text-align: center;}
.tab{float:left;width:390px;height:180px;margin-top:10px;}
.h-tab{border:1px solid #dcdcdc;border-bottom: none;}
.h-tab ul{background:#fff url("images/h-bg1.png") repeat-x 0 -27px ;border-top:1px solid #fff;height:24px;padding:3px 0 0 16px;}
.h-tab ul li,.h-tab ul li span{background: #fff url("images/h-bg4.png") no-repeat  0 -25px;color:#444;cursor:pointer;float:left;height:25px;line-height:27px;margin-bottom:-1px;overflow:hidden;position:relative;}
.h-tab ul li{margin-right:4px;padding-left:12px;}
.h-tab ul li span{background-position:100% -25px;padding-right:12px;}
.h-tab ul li.current,.h-tab ul li.current span{background:#fff url("images/h-bg4.png") repeat 0 0 ;}
.h-tab ul li.current span{background-position:100% 0;}
.h-l-tab{float:left;width:390px;margin-top:10px;}
.h-2-tab{float:right; width:270px; margin:10px 1px 0 0;}
.break{margin-top:227px;border:1px solid #fcba79;border-bottom:none;line-height:28px;width:670px;height:28px;background:url("images/break.png") repeat-x;}
.break strong,.break1 strong{font-size:14px;color:#4b1945;font-weight:600;padding-left:15px;font-family:" \5B8B\4F53"}
.break span,.break1 strong,.break1 span{font-family:"\5B8B\4F53";font-size:14px;margin:0 3px;}
.break1{width:670px;height:28px;background:url("images/break.png") repeat-x;margin-top:10px;border:1px solid #fcba79;border-bottom:none;line-height:28px;}
.h-title{background: #fff url("images/break.png") repeat-x  0 0 ;width:390px;height:28px;}
.h-title1{background: #fff url("images/break.png") repeat-x  0 0 ;width:270px;height:29px;position: relative;}
.h-title h3,.h-title1 h3,.h-title2 h3,.r-title h3,.rr-title h3,.rr-title h3,.rr-title-2 h3,.rr-title-1 h3{font-size:14px; color:#4b1900; line-height:28px; padding-left:15px;}
.h-title1 img{float:right; padding-top:3px;}
.h-title1 h3{border:1px solid #fcba79;border-bottom-style:none;}
.h-title h3{border-bottom:1px solid #fcba79;z-index:1;}
.h-title2{ background-color:#f9f9f9; border:1px solid #dcdcdc;width:390px; height:28px;}
.h-title2 h3,.r-title h3,.rr-title h3,.rr-title h3,.rr-title-2 h3,.rr-title-1 h3{background:-moz-linear-gradient(top,#fff,#f0f0f0);-webkit-linear-gradient(top,#fff,#f0f0f0);-o-linear-gradient(top,#fff,#f0f0f0);}
.second-title ul li.name1{margin-left:-21px;padding-right:85px;width:169px;text-align:center;}
.second-title ul li.name2{width:87px;}
.second-title ul li.name3{width:64px;}
.second-title ul{height:23px;border-bottom:1px solid #fff;}
.second-title ul li{height:22px;line-height:25px;color:#4B1900;float:left;}
.second-title ul li img{margin:-7px 4px -2px;}
.second-tit{background-color:#FEF2DD;}
.pages{line-height: 27px;height: 22px;}
.page{position:absolute; top:0; right:9px;}
.page li{float:left;}
.uppage,.downpage{display:block; width:23px; height:22px; background:url(images/content-tubiao.png) no-repeat; cursor:pointer;}
.uppage{background-position:0 -412px;}
.downpage{background-position:-63px -412px;}
  /*left-parts end*/
  /*right-parts begin*/
.right{float:right;border:4px solid #f0f0f0; height:208px;margin-right: -10px;}
.right_login.a:hover{color:red;text-decoration:underline;}
.right_login{padding-left:-15px;font-weight:900;color:#005ed9;text-decoration:underline;}
.right-block{width:270px;float:left;margin-left:-3px;}
.login{padding-left:19px;margin-top:17px;}
.login a.free_shopping{display:inline-block;vertical-align:middle;margin-right:26px;width:115px;height:35px;background:url('images/bg.png') no-repeat -46px -125px;}  
.h-title-n{width:388px;height:28px;background-color:#f6f6f6;border:1px solid #fcba79;border-bottom:none;}
.h-title-n ul{height:24px;}
.h-title-n ul li{margin-right:4px;padding-left:12px;}
.h-title-n ul li span{position:relative;float:left;margin-bottom:-1px;height:25px;line-height:27px;color:#444;}
.r-product{position:relative; float:right; width:270px; height:150px;}
.r-information{width:270px; float:right; height:187px; margin-top:8px;}
.r-title{width:268px; height:28px; background-color:#f9f9f9; border:1px solid #dcdcdc;}
.inner-information{height:156px; border:1px solid #dcdcdc; border-top:none;}
.inner-information ul li{background:url("images/node.jpg") no-repeat 10px 4px;height:23px;list-height:23px;padding:3px 5px 0 30px;}
.rr-title{width:260px;height:28px;background-color:#f7f7f7;margin-top:32px;border:1px solid #dcdcdc;}
.rr-title-1{width:260px;height:28px;background-color:#f7f7f7;margin-top:10px;border:1px solid #dcdcdc;}
.rr-title-2{width:260px;height:28px;background-color:#f7f7f7;margin-top:140px;border:1px solid #dcdcdc;border-bottom:none;}
.rr-title-2 ul{padding-top:-10px;}
.rr-title-3{margin-top: 10px;}
.rr-content ul{width:260px;border:1px solid #dcdcdc;border-top:none;padding: 6px 0;}
.rr-content ul li{background: #fff url("images/node.jpg") no-repeat 10px 4px;padding:0 3px 0 30px;height:24px;line-height:23px;}
.rr-content ul li a{display:inline-block; overflow:hidden; width:177px; white-space:nowrap; text-overflow:ellipsis; color:#444;}
.rr-content ul li img{margin-top:-3px;}
.rr-content-last ul{margin-top:3px;}
.rr-content-last ul li{background:#fff url("images/node.jpg") no-repeat 10px 4px ;height:23px;line-height:23px;padding:0 3px 0 30px;}
.rr-content-1 ul{width:260px;height:118px;border:1px solid #dcdcdc;padding: 6px 0;margin:0 -1px;}
#rr-content-1 ul{width:260px;padding: 6px 0;}
.rr-content-1 ul li{background: #fff url("images/node.jpg") no-repeat 10px 4px;height:23px;line-height:23px;padding:0 3px 0 30px;margin-top:1px;}
.rr-content-last{width:260px;height:280px;border:1px solid #dcdcdc;}
.word{font-weight:900;line-height:22px;font-size:14px;font-family:microsoft yahei,simsun,"\5B8B\4F53";padding-left:15px;padding-top:15px;}
.word span{color:#dd5401;font-weight: 600;}
.choice{height:80px;color:#585858;padding:5px 15px 15px;border-bottom:1px solid #e5e5e5;}
.choice li span{padding-left:34px;font-size:12px;}
.choice li span strong{font-family: "Arial";font-weight: 600;}
.choice li.li1,.choice li.li2,.choice li.li3{height:20px;background:url('images/bg.png') no-repeat -492px -206px;padding-top:6px;}
.ceo-blog{width:245px;border-bottom:1px dotted #ccc;padding:18px 0 9px;}
.ceo-blog dl{float:right;width:157px;}
.ceo-blog dl dt{margin-top:-2px;height:46px;font-size:14px;font-weight:700;border-bottom:1px dotted #ccc;}
.ceo-blog dl dt a:hover,.nomal:hover{color: #900;}
.ceo-blog dl dt a{color:#005ed9;}
.ceo-blog dd{padding-top:5px;color:#999}
.ceo-blog img{padding-left:5px;}
/*right-parts end*/
.red-word{color:red;}
.green-word{color:green;}
.activity{width:390px; height:187px; float:left; margin-top:8px;}
.h-img img{margin-top:10px;border:1px solid #dcdcdc;}
.product-img{padding:13px 9px 0 10px; height:109px; border:1px solid #fcba79; border-top: none;}
.sevler{color:#999;}
#sevler{text-indent: 20px;}
.more{float:right;margin-right:10px;font-family:"\5B8B\4F53";font-size:12px;color:#333;line-height:28px;}
.number{padding-right:3px;color:#999;float: right;width: 37px;}
.pic img{margin-top:10px; border: 1px solid #dcdcdc;}

.content_right{width:468px;height:216px;float:left;margin-left:12px;}
.nomal{color:#444;}

#second-tit{border-bottom:1px solid #ebd5b2;}
