body{background:#fff;font:12px/1.5 tahoma,arial,\5b8b\4f53;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}button,input,select,textarea{font:100% tahoma,arial,\5b8b\4f53;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}em{font-style:normal;}ul,ol{list-style:none;}fieldset,img{border:0;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}table{border-collapse:collapse;border-spacing:0;}a{color:#444;text-decoration:none;}a:hover{color:#900;text-decoration:underline;}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.clearfix{*zoom:1;}






