body{background:#fff;font:12px/1.5 tahoma,arial,\5b8b\4f53;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
button,input,select,textarea{font:100% tahoma,arial,\5b8b\4f53;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
em{font-style:normal;}
ul,ol{list-style:none;}
fieldset,img{border:0;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
table{border-collapse:collapse;border-spacing:0;}
a{color:#444;text-decoration:none;}
a:hover{color:#900;text-decoration:underline;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
#header{position:relative;margin:0 auto 10px auto;width:950px;height:113px;}
#header .logo{position:absolute;top:0;left:0;}
#header .logo a{position:relative;overflow:hidden;display:block;width:356px;height:77px;}
#header .logo a img{position:absolute;left:0;top:0;}
#header .logo h1{color:#fff;}
#header #toplist{position:absolute;right:0;padding:10px 0;height:20px;color:#666666;z-index:50;}
#header #toplist *{vertical-align:middle;font-family:Arial;*font-family:\5b8b\4f53;}
#header #toplist a{color:#666666;text-decoration:none;margin:0 5px;line-height:20px;}
#header #toplist a:hover{text-decoration:underline;}
#header #toplist a img{width:75px;height:20px;background:url(http://www.dhresource.com/2009/sellerheader/page_bg.gif) no-repeat -425px -217px;}
#header #toplist a.aw{padding-right:20px;}
#header #toplist img.aa{position:absolute;right:198px;top:8px;}
#header #toplist img.new{margin-top:-8px;}
#header #toplist .color0{color:#000;}
#header #toplist .color0 a{color:#000;}
#header #nav{position:absolute;top:80px;width:950px;height:33px;background:url(http://www.dhresource.com/seller/userexperience/images/userExperience_bg.gif) no-repeat;}
#header #nav ul{margin-left:8px;}
#header #nav ul li,#header #nav ul li a,#header #nav ul li a span{overflow:hidden;float:left;overflow:hidden;height:36px;font:normal 14px/34px Arial,Helvetica,sans-serif;color:#fff;cursor:pointer;}
#header #nav ul li{position:relative;padding-left:2px;background:url(http://www.dhresource.com/seller/userexperience/images/userExperience_bg1.gif) no-repeat left top;}
#header #nav ul li a{padding-left:20px;}
#header #nav ul li a span{padding-right:20px;}
#header #nav ul li a span sup{line-height:12px;}
#header #nav ul li.this{margin-top:-3px;}
#header #nav ul li.this{background-position:right 3px;}
#header #nav ul li.this,#header #nav ul li.this a,#header #nav ul li.this a span{font:bold 14px/40px Arial,Helvetica,ssans-serif;color:#2C2C2C;}
#header #nav ul li.this a{background:url(http://www.dhresource.com/seller/userexperience/images/userExperience_nav.gif) no-repeat left top;}
#header #nav ul li.this a span{background:url(http://www.dhresource.com/seller/userexperience/images/userExperience_nav.gif) no-repeat right top;}
#footer{width:950px;margin:0 auto;padding-top:15px;text-align:center;border-top:solid 1px #D7D7D7;font:12px/22px Arial,Helvetica,sans-serif;color:#444;}
#footer a{color:#444;text-decoration:none;margin:0 6px;display:inline;}
#footer a:hover{color:#900;}
#footer p.p1{font-size:11px;}
#footer p.p2{margin-bottom:10px;}
#content{clear:both;margin:0 auto 10px auto;width:950px;}
.layout:after{content:'\20';display:block;height:0;clear:both;}
.layout{*zoom:1;}
.h-line{overflow:hidden;clear:both;height:10px;}
.col-main{float:left;width:100%;min-height:1px;}
.col-main-warp{margin-right:280px;width:670px;}
.s-services{float:left;width:190px;height:218px;}
.s-services h3{padding-left:9px;height:31px;line-height:30px;color:#A14D00;background:url(http://www.dhresource.com/seller/images/index/h-bg5.png) -265px 0;}
.s-services ul{overflow:hidden;height:186px;border:solid 1px #EFD98A;border-top:none;}
.s-services ul li,.s-services ul li.over{background:url(http://www.dhresource.com/seller/images/index/h-bg5.png) -275px -36px;}
.s-services ul li{float:left;clear:both;margin:5px 0;padding-left:10px;}
.s-services ul li.over{background-position:-275px -92px;}
.s-services ul li a,.s-services ul li a.a1,.s-services ul li a.a2{background:url(http://www.dhresource.com/seller/images/index/h-bg5.png) -472px -23px no-repeat;}
.s-services ul li a.a1{background-position:-472px -84px;}
.s-services ul li a.a2{background-position:-472px -145px;}
.s-services ul li a{display:block;padding:7px 0 0 57px;width:113px;height:44px;color:#444;text-decoration:none;}
.s-services ul li a:hover{text-decoration:none;}
.s-services ul li a b{display:block;font-weight:normal;color:#B11221;}
.cutover{position:relative;overflow:hidden;float:right;width:468px;height:216px;border:solid 1px #DFDFDF;background:#f0f0f0 url(http://www.dhresource.com/seller/images/index/loading.gif) 50% 92px no-repeat;}
.cutover-list{position:absolute;z-index:1;}
.cutover-list li{float:left;width:468px;height:216px;}
.cutover-list li a img{display:block;width:468px;height:216px;}
.cutover-button{position:absolute;z-index:2;right:10px;bottom:8px;padding-top:2px;}
.cutover-button li{float:left;margin-left:3px;width:16px;height:16px;line-height:16px;font-size:11px;color:#D94B01;text-align:center;border:solid 1px #F47500;cursor:pointer;background:#FCF2CF;}
.cutover-button li.current{margin-top:-2px;width:18px;height:18px;line-height:18px;font-size:11px;font-weight:700;color:#fff;border:solid 1px #F27602;background:#FFB442;}
.h-title,.h-title1{border:solid 1px #FCBA79;border-bottom:none;}
.h-title h3,.h-title1 h3,.h-title h2,.h-title1 h2{padding-left:16px;height:27px;line-height:27px;color:#4B1900;border-top:solid 1px #FFF8EA;background:url(http://www.dhresource.com/seller/images/index/h-bg1.png) repeat-x;}
.story-more{float:right;margin-right:10px;font-family:\5b8b\4f53;font-size:12px;color:#4B1900;outline:none;}
.story-more:hover{text-decoration:none;color:#4B1900;}
.h-title h3 strong,.h-title h2 strong{font-size:14px;}
.h-title h3 span,.h-title h2 span{margin:0 3px;font-size:14px;font-family:\5b8b\4f53;}
.h-title1{border-color:#dcdcdc;}
.h-title1 h3,.h-title1 h2{color:#333;border-top-color:#fff;background:url(http://www.dhresource.com/seller/images/index/h-bg1.png) 0 -27px repeat-x;}
.h-school{padding-left:15px;height:174px;border:solid 1px #FCBA79;}
.h-school dl{float:left;margin:18px 9px 0 0;width:149px;}
.h-school dl dt{margin-bottom:10px;padding-left:18px;line-height:12px;font-family:Arial;background:url(http://www.dhresource.com/seller/images/index/h-bg3.png) 0 100% no-repeat;}
.h-school dl dt b{padding:0 3px;font-weight:normal;color:#80340A;background:#fff;}
.h-school dl dd{overflow:hidden;padding-left:29px;height:24px;line-height:24px;width:120px;background:url(http://www.dhresource.com/seller/images/index/h-bg1.png) 15px -74px no-repeat;}
.n-order{float:left;width:390px;height:163px;}
.n-order-title{border:solid 1px #FCBA79;border-bottom-color:#EBD5B2}
.n-order-title ul{overflow:hidden;height:22px;border-bottom:solid 1px #fff;background:#FEF2DD;}
.n-order-title ul li{overflow:hidden;float:left;height:22px;line-height:25px;color:#4B1900;}
.n-order-title ul li.name1{margin-right:21px;padding-left:42px;width:169px;}
.n-order-title ul li.name2{width:87px;}
.n-order-title ul li.name3{width:64px;}
.n-order-list{overflow:hidden;padding-top:6px;height:102px;border:solid 1px #FCBA79;border-top:none;}
.n-order-list ul{overflow:hidden;height:94px;}
.n-order-list ul li{overflow:hidden;height:23px;line-height:23px;color:#444;}
.n-order-list ul li span{overflow:hidden;float:left;height:23px;}
.n-order-list ul li span img{float:left;margin:6px 10px 0 0;}
.n-order-list ul li span.data1{margin-right:21px;padding-left:16px;width:195px;}
.n-order-list ul li span.data2{width:87px;}
.n-order-list ul li span.data2 b{margin-left:5px;font-weight:normal;color:#FE0000;}
.n-order-list ul li span.data3{width:64px;color:#427A00;}
.h-product{position:relative;float:right;width:270px;height:163px;}
.h-product-list{padding:19px 9px 0 10px;height:113px;border:solid 1px #FCBA79;}
.h-product-list-warp{position:relative;overflow:hidden;width:249px;height:113px;}
.h-product-list-warp ul{position:relative;width:3000px;height:108px;}
.h-product-list-warp ul li{float:left;width:83px;height:108px;text-align:center;}
.h-product-list-warp ul li a.img{overflow:hidden;display:block;margin:0 auto;width:67px;height:80px;border:solid 1px #E7E7E7;background:url(http://www.dhresource.com/seller/images/index/loading.gif) 50% 50% no-repeat;}
.h-product-list-warp ul li a.img img{display:block;}
.h-product-list-warp ul li p{overflow:hidden;margin-top:2px;height:24px;line-height:24px;}
.h-product-list-warp ul li p a{font-size:11px;}
.h-product-control{position:absolute;top:8px;right:9px;}
.h-product-control ul li{float:left;height:15px;line-height:15px;}
.h-product-control ul li.lbutton,.h-product-control ul li.rbutton{width:23px;cursor:pointer;background:url(http://www.dhresource.com/seller/images/index/h-bg5.png) 0 -125px;}
.h-product-control ul li.rbutton{background-position:-23px -125px;}
.h-product-control ul li.count{margin:0 8px;}
.v-activities{float:left;width:390px;height:187px;}
.v-activities-box{padding:18px 16px 0 16px;height:138px;border:solid 1px #dcdcdc;}
.v-activities-box a.img{float:left;border:solid 1px #E7E7E7;}
.v-activities-box a.img img{display:block;border:solid 1px #fff;}
.v-activities-box dl{float:right;width:224px;}
.v-activities-box dl dt{font-size:14px;font-weight:700;}
.v-activities-box dl dd p{margin:2px 0;color:#999;}
.v-activities-box dl dd p a{color:#000;}
.v-activities-box dl dd p a:hover{color:#900;}
.v-activities-box dl dd p.p1{color:#000;}
.v-activities-box dl dd p.p1 b{color:#f00;font-weight:normal;}
.s-information{float:right;width:270px;height:187px;}
.s-information-box{height:156px;border:solid 1px #dcdcdc;}
.s-information-box ul{margin-top:6px;}
.s-information-box ul li{overflow:hidden;padding:0 5px 0 30px;height:23px;line-height:23px;background:url(http://www.dhresource.com/seller/images/index/h-bg1.png) 16px -75px no-repeat;}
.h-img,.h-img1{border:solid 1px #DFDFDF;}
.h-img img,.h-img1 img{display:block;}
.h-img1{margin-bottom:10px;}
.h-star{padding:12px 16px 0 16px;height:120px;border:solid 1px #FCBA79;}
.h-star-img{position:relative;float:left;margin-right:17px;border:solid 1px #E7E7E7;}
.h-star-img img{display:block;border:solid 1px #fff;}
.h-star-img span{position:absolute;top:-7px;right:-9px;width:34px;height:43px;background:url(http://www.dhresource.com/seller/images/index/h-bg5.png) 0 -146px;}
.h-star dl{float:left;margin-top:9px;width:218px;}
.h-star dl dt{font-size:14px;font-weight:700;}
.h-star dl dd{margin-top:2px;color:#999;}
.h-star ul{float:right;margin-top:-5px;width:236px;}
.h-star ul li{padding-left:14px;height:23px;line-height:23px;background:url(http://www.dhresource.com/seller/images/index/h-bg1.png) 0 -75px no-repeat;}
.h-l-tab{float:left;width:390px;}
.h-tab{border:solid 1px #dcdcdc;border-bottom:none;}
.h-tab ul{padding:3px 0 0 16px;height:24px;border-top:solid 1px #fff;background:url(http://www.dhresource.com/seller/images/index/h-bg1.png) 0 -27px repeat-x;}
.h-tab ul li,.h-tab ul li span{position:relative;overflow:hidden;float:left;margin-bottom:-1px;height:25px;line-height:27px;color:#444;cursor:pointer;background:url(http://www.dhresource.com/seller/images/index/h-bg4.png) 0 -25px no-repeat;}
.h-tab ul li{margin-right:4px;padding-left:12px;}
.h-tab ul li span{padding-right:12px;background-position:100% -25px;}
.h-tab ul li.current,.h-tab ul li.current span{background:url(http://www.dhresource.com/seller/images/index/h-bg4.png);}
.h-tab ul li.current span{background-position:100% 0;}
.h-tab-box,.h-tab-box1{padding-top:15px;height:130px;border:solid 1px #dcdcdc;}
.h-tab-box ul li,.h-tab-box1 ul li{overflow:hidden;float:left;width:160px;height:23px;line-height:23px;padding-left:30px;background:url(http://www.dhresource.com/seller/images/index/h-bg1.png) 16px -75px no-repeat;}
.h-tab-box1 ul li{width:232px;float:none;}
.h-r-tab{float:right;width:270px;}
.sub-main{float:left;margin-left:-270px;width:270px;}
.login-box{margin-bottom:10px;padding:5px;width:260px;height:208px;background:#f0f0f0;}
.not-login,.yes-login{width:260px;height:208px;background:#fff;}
.log-emphasis{padding:15px 0 4px 15px;font-weight:700;line-height:22px;font-size:14px;font-family:microsoft yahei,simsun,"宋体"}
.log-emphasis span{color:#dd5401;}
.login-Info{padding:5px 15px 15px;border-bottom:solid 1px #e5e5e5;color:#585858;}
.login-Info li{padding:4px 0 4px 30px;background:url(http://www.dhresource.com/seller/images/index/h-bg5.png) no-repeat -495px -208px;}
.login-Info li strong{font-family:"Arial";}
.login-d{padding:14px 19px;background-color:#fcfcfc;}
.login-d a.log-free{vertical-align:middle;margin-right:30px;display:inline-block;width:115px;height:35px;background:url(http://www.dhresource.com/seller/images/index/h-bg5.png) no-repeat -46px -125px;}
.login-d a.log-login{font-weight:700;text-decoration:underline;color:#005ed9;}
.login-d a.log-login:hover{color:#900;}
.help-login{padding-top:9px;}
.help-login li{overflow:hidden;padding:0 3px 0 22px;height:22px;line-height:22px;background:url(http://www.dhresource.com/seller/images/index/h-bg1.png) 12px -111px no-repeat;}
.help-login li b{margin-right:7px;font-weight:normal;color:#C16001;}
.info-login{padding:12px 5px 0 21px;}
.info-login p{height:24px;line-height:24px;}
.info-login ul li{padding:3px 0 3px 12px;background:url(http://www.dhresource.com/seller/images/index/h-bg1.png) 4px -74px no-repeat;}
.info-login ul li b{font-weight:normal;color:#f00;}
.info-login ul li strong{color:#008D22;}
.info-login ul li a,.info-login p a{color:#000;}
.info-login ul li a.a1{color:#FE7800;text-decoration:underline;}
.info-login ul li a:hover,.info-login ul li a.a1:hover,.info-login p a:hover{color:#900;}
.info-login ul li.last{background:none;}
.info-login p i{font-family:\5b8b\4f53;font-size:10px;font-style:normal;}
.h-notice,.h-r-list{margin-bottom:10px;padding-top:7px;height:167px;border:solid 1px #dcdcdc;}
.h-notice{height:auto;padding-bottom:7px;}
.h-notice ul li,.h-r-list ul li{overflow:hidden;padding:0 3px 0 30px;height:23px;line-height:23px;background:url(http://www.dhresource.com/seller/images/index/h-bg1.png) 16px -75px no-repeat;}
.h-r-list{padding:6px 0 9px 0;height:auto;}
.h-notice ul li a{display:inline-block;width:177px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.h-notice ul li.first a{color:#ff5500;}
.h-notice-date{float:right;width:35px;padding-left:10px;padding-right:7px;color:#999;}
.h-blog{margin-bottom:10px;padding-left:13px;border:solid 1px #dcdcdc;}
.h-blog-details{overflow:hidden;padding:18px 0 9px 0;width:245px;border-bottom:dotted 1px #ccc;}
.h-blog-details dl{float:right;width:157px;}
.h-blog-details dl dt{overflow:hidden;margin-top:-2px;height:46px;font-size:14px;font-weight:700;border-bottom:dotted 1px #ccc;}
.h-blog-details dl dt a{color:#005ED9;}
.h-blog-details dl dt a:hover{color:#900;}
.h-blog-details dl dd{padding-top:5px;color:#999;}
.h-bolg-img{float:left;width:80px;}
.h-blog ul{padding:8px 0 9px 0;}
.h-blog ul li{overflow:hidden;padding:0 3px 0 17px;height:23px;line-height:23px;background:url(http://www.dhresource.com/seller/images/index/h-bg1.png) 3px -75px no-repeat;}
.h-customer-service{border:solid 1px #e7e7e7;color:#444;}
.h-customer-service ul{padding:7px 0;border:solid 1px #fff;background:#f7f7f7;}
.h-customer-service ul li{padding-left:15px;height:24px;line-height:24px;}
.h-customer-service ul li a{color:#005ED9;text-decoration:underline;}
.yhty{display:inline-block;background:url(http://www.dhresource.com/dhs/mob/img/home/yh.gif) no-repeat 0 1px;padding-left:20px;height:20px;}
#footer a.yhty-a{color:#005ED9;}
.wei-box{position:absolute;top:58px;right:0;color:#666;}
#weibo{float:left;padding-right:55px;width:100px;background:url(http://www.dhresource.com/seller/images/weibo.jpg) no-repeat 100px 0;}
#weibo a{position:absolute;width:20px;height:20px;}
#weibo a.we1{left:98px;}
#weibo a.we2{left:125px;}
#weixin{float:left;padding-right:30px;background:url(http://www.dhresource.com/seller/images/weixin.png) no-repeat 84px 0;}
#weixin .we3{position:absolute;top:0;left:240px;width:20px;height:20px;}
.phone{position:relative;background:url(http://www.dhresource.com//dhs/fob/css/home/phone.png) no-repeat 0 2px;*background:url(http://www.dhresource.com//dhs/fob/css/home/phone.png) no-repeat 0 0;padding-left:13px;}
#header #toplist a.phone:hover{background:url(http://www.dhresource.com//dhs/fob/css/home/phone.png) no-repeat 0 -18px;*background:url(http://www.dhresource.com//dhs/fob/css/home/phone.png) no-repeat 0 -20px;text-decoration:none;color:#900}
.phone .phonetext{position:absolute;top:20px;left:0;background-color:#e5e5e5;z-index:9999}
.phone .phonetextn{padding:0 0 0 5px;position:relative;top:-2px;left:-2px;border:solid 1px #efd491;background-color:#ffffe5;width:90px;color:#f50;}
.phone .phones{position:absolute;left:26%;top:-5px;width:9px;height:6px;background:url(http://www.dhresource.com//dhs/fob/css/home/phones.png) no-repeat;}
#header #toplist .seller-help-center{display:inline-block;*display:inline;*zoom:1;position:relative;padding-right:2px;}
#header #toplist a.seller-help-button{position:relative;display:inline-block;margin:0;padding:0 12px 0 6px;border:1px solid #fff;border-bottom:none 0;background:#fff url(http://www.dhresource.com/dhs/mos/image/public/help-arrow.png) no-repeat 34px 8px;z-index:10;}
#header #toplist a.hover-state{text-decoration:none;border:1px solid #a8a8a8;border-bottom:none 0;}
#header #toplist .seller-help-list{position:absolute;top:20px;left:0;padding:5px 0;width:62px;border:1px solid #a8a8a8;background:#fff;z-index:5;}
#header #toplist .seller-help-list a{display:block;margin:0;padding-left:7px;}
#header #toplist .seller-help-list a:hover{color:#900;}
.h-school dl dt a.addlink{color:#80340a;outline:none;}
.h-school dl dt a.addlink:hover{color:#900;}
.gray-more{float:right;margin-right:10px;font-family:\5b8b\4f53;font-size:12px;color:#333;outline:none;}
.gray-more:hover{color:#333;text-decoration:none;}
