header.header
  a(href='./index',class='pull-left')
    img(src='http://fimg.cimyun.com/images/web/web-logo-20160926-v1.png')
  a(href='./index')
    h4.title 希盟科技
  a#menuBtn.pull-right
    img(src='http://fimg.cimyun.com/images/web/web-menu-20160926-v1.png')
