.panel
  ul.menu-list
    li
      a(href='index') 首页
    li
      a(href='product') 希盟医疗头带
    li
      a(href='bloodPressureHemo') 希盟血压计
    li
      a(href='child_care_watch') 宝温记
    li
      a(href='solution') 解决方案
    li
      a(href='app') APP下载
    li
      a(href='http://item.m.jd.com/product/10114403647.html') 在线购买
