.swiper-container
  .swiper-wrapper
    .swiper-slide.box-link
      img(src='http://fimg.cimyun.com/images/wap/wap-slider-03-29-v1.jpg',width='100%')
      span.link-hot
        a(href='http://item.m.jd.com/product/10114403647.html')京东旗舰店
        a(href='https://ximeng.m.tmall.com/')天猫旗舰店
    .swiper-slide
      a(href='child_strap_hot')
        img(src='http://fimg.cimyun.com/images/wap/m-slider-1605.jpg',width='100%')
    .swiper-slide
      a(href='zt_remoteEcg_v2')
        img(src='http://fimg.cimyun.com/images/wap/ecg-img-1.jpg',width='100%')
  .swiper-pagination
