.cb-slideshow,.cb-slideshow:after{position:fixed;top:0;left:0;z-index:0;width:100%;height:100%}
.cb-slideshow:after{background:transparent url(.) repeat top left;content:''}
.cb-slideshow li span{top:0;z-index:0;height:100%;background-position:50% 50%;background-size:cover;background-repeat:none;color:transparent;-webkit-backface-visibility:hidden;-webkit-animation:imageAnimation 30s linear infinite 0s;animation:imageAnimation 30s linear infinite 0s}
.cb-slideshow li div,.cb-slideshow li span{position:absolute;left:0;width:100%;opacity:0}
.cb-slideshow li div{bottom:30px;z-index:1000;color:#fff;text-align:center;-webkit-animation:titleAnimation 36s linear infinite 0s;animation:titleAnimation 36s linear infinite 0s}
.cb-slideshow li div h3{padding:0;font-size:15pc;font-family:BebasNeueRegular,Arial Narrow,Arial,sans-serif;line-height:200px}
.cb-slideshow li:nth-child(1) span{background-image:url(http://pic4.zhimg.com/e3f78974cc2b3d74371c863e149d4c37.jpg)}
.cb-slideshow li:nth-child(2) span{background-image:url(http://pic4.zhimg.com/e3417b70c1706aff68f942720e08d8ef.jpg);-webkit-animation-delay:6s;animation-delay:6s}
.cb-slideshow li:nth-child(3) span{background-image:url(http://pic4.zhimg.com/a968ee23471aeb2659a751dfb68d1bdf.jpg);-webkit-animation-delay:12s;animation-delay:12s}
.cb-slideshow li:nth-child(4) span{background-image:url(http://pic3.zhimg.com/2154e45b67e29acc022cf27a7d6e10ae.jpg);-webkit-animation-delay:18s;animation-delay:18s}
.cb-slideshow li:nth-child(5) span{background-image:url(http://pic2.zhimg.com/942ffb73029b7d1467cc3b031f20ff1d.jpg);-webkit-animation-delay:24s;animation-delay:24s}
.cb-slideshow li:nth-child(2) div{-webkit-animation-delay:6s;animation-delay:6s}
.cb-slideshow li:nth-child(3) div{-webkit-animation-delay:12s;animation-delay:12s}
.cb-slideshow li:nth-child(4) div{-webkit-animation-delay:18s;animation-delay:18s}
.cb-slideshow li:nth-child(5) div{-webkit-animation-delay:24s;animation-delay:24s}
@-webkit-keyframes imageAnimation{0%{opacity:0;-webkit-animation-timing-function:ease-in}
8%{-webkit-animation-timing-function:ease-out}
17%,8%{opacity:1}
}
@keyframes imageAnimation{0%,25%,to{opacity:0}
0%{animation-timing-function:ease-in}
8%{animation-timing-function:ease-out}
17%,8%{opacity:1}
25%,to{opacity:0}
}
@-webkit-keyframes titleAnimation{0%{opacity:0}
17%,8%{opacity:1}
}
@keyframes titleAnimation{0%,19%,to{opacity:0}
17%,8%{opacity:1}
19%,to{opacity:0}
}
.no-cssanimations .cb-slideshow li span{opacity:1}
@media screen and (max-width:1140px){.cb-slideshow li div h3{font-size:140px}
}
@media screen and (max-width:600px){.cb-slideshow li div h3{font-size:5pc}
}
